<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./style/img/favicon.ico">
    <title>Museo : Recurso No Disponible</title>
</head>

<div id="logomenu"></div>

<body style="background-color: black;">
    <div class="flex-wrapper">

        <br><br>
       
        <div id="squareform"
            style="color: rgb(0, 0, 0); background-color:rgb(255, 255, 255) ;margin: auto; width: 30%; border-radius: 10px; padding: 50px;">

            <center><a href="../index.html"><img src="../style/img/logo.png" width="100px" height="100px"></a>
                <h3>El recurso al que desea acceder no está disponible</h3>
                <p></p>
                <hr><br>
                <center>
               
                    <p>¡Lo sentimos mucho, el recurso no está construido o está limitado! :(</p>
                    <br>
                    <a href="../index.html"><small>Pulse aquí o en el logotipo superior para regresar.</small></a>
                </center>
        </div>
        <br>


    </div>


</body>

</html>