<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../style/img/favicon.ico">
    <title>Museo : Admin - Visitas Guiadas</title>
</head>

<div id="logomenu"></div>

<body >
    <div class="flex-wrapper">
      
            <br><br>
        <!--<img src="https://picsum.photos/1366/768">-->
            <div id="squareform" style="color: rgb(0, 0, 0); background-color:rgba(255, 255, 255, 0.603) ;margin: auto; width: 30%; border-radius: 10px; padding: 10px;">
                
                <center>
                    <a href="../index.html"><img src="../style/img/logo.png" width="100px" height="100px"></a><h2>Cargar Visita Guiada</h2><p>&nbsp</p><hr><br>
                <center>
                    <p><label for="nombre">Temática/Nombre de la Visita</label></p>
                    <input class="MTextArea" type="text" id="nombre" maxlength="100" placeholder="">

                    <p><label for="fecha">Fecha y Hora</label></p>
                    <input class="MTextArea" type="datetime-local" id="fecha" placeholder="">


                    <p><label for="sala">Sala</label></p>
                        <select id="sala">
                            <option> - </option>
                        </select>
                        <button id="sala" onclick="selectOption(event)">Seleccionar</button><br>

                        <div id="sala_s" style="display:none">
                            <small id="sala_s_t">Seleccionaste: </small>
                        </div>
                        

                    
                    <p><label for="guia">Guía</label></p>
                        <select id="guia">
                            <option> - </option>
                        </select>
                        <button id="guia"  onclick="selectOption(event)">Seleccionar</button><br>
                        
                        <div id="guia_s" style="display:none">
                            <small id="guia_s_t">Seleccionaste a: </small><br>
                            <small>Idioma</small>
                            <select id="guia_s_t_i">
                                
                            </select>
                        </div>
                        


                 <p>&nbsp</p><hr><br>
                 <input type="submit" class="MButton" onclick="sendVisGuiada()">
                 <a class="MButton" href="admin_vis_guiada.L.html">Volver</a>
                <p>&nbsp</p>
               
                 
                </center>
            </div>
            <br>
        
        
    </div>
    
    <script src="../page/fetchAPI.js"></script>
    
    <script>
            window.onload = function(){
                getApiInfo('/api/sala').then(response => {
                    for(let x in response){
                        document.getElementById('sala').innerHTML += `
                            <option id=${response[x].ID_sala} value=${response[x].ID_sala} >${response[x].nombre_sala}</option>
                        `
                    }
                })

                getApiInfo('/api/guia').then(response => {
                    for(let x in response){
                        document.getElementById('guia').innerHTML += `
                            <option id=${response[x].ID_Guia} value=${response[x].ID_Guia} >${response[x].nombre + " " + response[x].apellido}</option>
                        `
                    }
                })


            }

            let vis_guiada_data = {
                nombreVisita: '',
                FHora : '',
                ID_guia : []
            }    


            let vis_guiada_sala_data = {
                sala: []
            }

            function selectOption(event){
             //   alert(event.target.id)
                
                if(event.target.id == 'sala'){
                    if(document.getElementById('sala').value != "-"){
                        document.getElementById('sala_s').style = "";
                        document.getElementById('sala_s_t').innerHTML += '<br>' + document.getElementById('sala').selectedOptions[0].text;
                        vis_guiada_sala_data.sala.push(parseInt(document.getElementById('sala').value));
                    } 

                 }

                 if(event.target.id == 'guia'){
                    if(document.getElementById('guia').value != "-"){
                        document.getElementById('guia_s').style = "";
                        document.getElementById('guia_s_t').innerHTML += '<br>'+ document.getElementById('guia').selectedOptions[0].text;
                        vis_guiada_data.ID_guia.push(parseInt(document.getElementById('guia').value));

                        getApiInfo('/api/guia_idioma/lang/' + document.getElementById('guia').value).then(response =>{
                            let IdiVec = []; console.log(response)
                            for(let x in response){IdiVec.push(response[x].ID_idioma)}

                            for(let x in IdiVec){
                                if(IdiVec[x] == 1){IdiVec[x] = 'Español'  }
                                if(IdiVec[x] == 2){IdiVec[x] = 'Inglés'   }
                                if(IdiVec[x] == 3){IdiVec[x] = 'Portugués'} 
                             }

                            for(let x in response){
                                document.getElementById('guia_s_t_i').innerHTML += `<option id=${response[x].ID_idioma} value=${response[x].ID_idioma}>${IdiVec[x]}</option>`
                            }
                        })
                    }
                    

                 }

              }

            function sendVisGuiada(){
                vis_guiada_data.nombreVisita = document.getElementById('nombre').value;
                vis_guiada_data.FHora = document.getElementById('fecha').value;
                

                postApiInfo('/api/visita_guiada', vis_guiada_data).then(response =>{
                    getApiInfo('/api/visita_guiada/uid').then(response => {
                            let vis_guiada_idioma = {
                            ID_VG : response[0].ID_VG,
                            ID_idioma : document.getElementById('guia_s_t_i').value

                            }
                            let vis_guiada_sala = {
                                ID_VG: response[0].ID_VG,
                                ID_sala: document.getElementById('sala').value
                            }


                            postApiInfo('/api/visita_guiada_idioma',vis_guiada_idioma).then(
                                postApiInfo('/api/visita_guiada_salas',vis_guiada_sala).then(
                    
                                )
                            )
                        
                    })
                })
     
            }
        
    </script>

</body>
</html>