<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./style/img/favicon.ico">
    <link rel="stylesheet" href="style/css/style.css">
    <title>Museo</title>
</head>
<body>
    <main id="header"></main>
    <main id="appcontent"></main>
    <main id="footer"></main>


    <script src="./app/index.js" type="module"></script>
    <script src="./app/scripts/accessibility.js" type="module"></script>
    <script src="./app/scripts/fetchAPI.js"></script>
</body>
</html>