<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../style/img/favicon.ico">
    <title>Museo: Guías</title>
</head>

<div id="logomenu"></div>

<body>
  
  <div id="header"></div>
 
    <div class="flex-wrapper" style="background-color:rgba(17, 2, 2, 0.637);">
      <div id="content" style="color: white;">
        <div id="pushbar" style="padding-left: 35px; padding-top: 35px; padding-right: 35px;" ;>
    
         <center>
          <label style="font-size:75px; ">Guías</label><br>
          <label style="font-size:15px; ">&nbsp...</label>
         </center>
          <br>
          
          <div id="pushbar" style="padding-left: 15px; padding-bottom: 30px; padding-right: 15px; font-size:15px; font-style: italic;" >
            <div id="picFrame" class="" style="padding-top: 50px;">
              <center>
              <img src="../style/img/art/plano.jpg" class="Mimg" style="width:1000px; height:700px">
              <br>
              <span style="padding-left: 15px;">
                  Plano del Museo

              </span>
             </center>
            </div>

            
            
           
          </div>
      </div>


      <div id="footer"></div>
    </div>
  
    <script src="../page/header.js"></script>
    <script src="../page/accessibility.js"></script>
    <script src="../page/footer.js"></script>

</body>
</html>

